/*
Primary: #E14D2A
Secundary: #FD841F 
Light: #3E6D9C
Info: #001253
*/

.bg-primary{
    background-color: #E14D2A;
}
.text-light{
   color: #3E6D9C;
}
.text.secundary{
    color: #FD841F;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}